.footer {
  margin-top: auto;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #265847;
  color: #FFFFFF;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-row {
  display: flex;
}
.footer-copyright {
  width: 270px;
}
.footer-copyright p {
  font-size: 16px;
  line-height: 1.6;
}
.footer-logo {
  margin-bottom: 26px;
}
.footer-widget + .footer-widget{
  margin-left: 30px;
}
.footer-widget-info {
  width: 170px;
}
.footer-widget-services, .footer-widget-contacts {
  width: 270px;
}

.footer-widget-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;

}
.footer-widget-list {
  font-size: 18px;
}
.footer-widget-list li{
  margin-bottom: 15px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-widget-wrapper {
  display: flex;
  padding-top: 10px;
}