.header {
  position: relative;
  padding-top: 50px;
  height: 800px;
  background-color: #265847;
  background-image: url("../image/header/travel.jpg");
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}
.header-nav {
  font-size: 22px;
  color: #FFFFFF;
}
.header-nav-button {
  display: none;
}
.header-nav-list {
  display: flex;
}
.header-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  color: #FFFFFF;
  text-decoration: none;
}
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1170px;
  transform: translate(-50%,-50%);
  text-align: center;
  padding-top: 28px;
  color: #FFFFFF;
}
.main-content-header {
  margin-bottom: 20px;
}
.header-title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 28px;
  line-height: 1;
}
.header-content p{
  font-size: 24px;
}
.header-scroll {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 34px;
  text-decoration: none;
}
.header-scroll::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 18px;
  height: 24px;
  background-image: url("../image/header/arrow-down.svg");
}